.block {
  padding: 20px;
  background-color: #4980FF;
  color: #FFFFFF;
  border-radius: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.characteristics {
  font-size: 16px;
  margin-bottom: 5px;
}